signup.css
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/login1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#create-account-form {
  width:400px;
  padding:20px;
  text-transform: uppercase;
  background-color: #fff;
}

.title {
  margin-bottom: 20px;
}

.input-group {
  margin:20px 0; 
  position:relative;
}

.input-group label {
  display:inline-block;
  margin-bottom: 5px;
}

.input-group input {
  display:block;
  width:100%;
  padding:10px;   
}

.error input {
  border:3px red solid;
}

.success input {
  border:3px green solid;
}

.input-group i {
   position:absolute;
   right:10px;
   top:35px;
   visibility: hidden;
}


.success i.fa-check-circle{
   visibility: visible;
   color:green;
}

.error i.fa-exclamation-circle {
  visibility: visible;
  color:red;
}


.input-group p {
   font-size: 15px;
   color:red;
   visibility: hidden;
}

.error p {
   visibility: visible;
}

.btn {
   width:100%;
   padding:10px;
   font-size: 20px;
   background-color: green;
   color:#fff;
   text-transform: uppercase;
   border:none;
}
body nav{
  padding-bottom: 80vh;
}
body nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
  color: green;
  text-align: center;
}
form a{
  color: blue;
  padding-left: 40vh;
}